body {

	background-image: url(images/cool.jpg);
	background-repeat: repeat;
}
body,
h1,
h3,
p {
	font-family: Heveltica, Arial, sans-serif;
}
.container {
	text-align: center;
	padding-top: 50px;

}
hr {

	width: 600px;
	border-bottom: 1px solid black;
}
.quote-box{

	border:1px dashed black;
	border-radius: 15px;
	padding:10px;
	margin-bottom: 15px;
}